      <div class="sf-content-block content-block">
         <div>
            <p style="text-align:left;font-family: 'Karla', sans-seriffont-size: 1.3em;"><strong>Stay aware of the latest information on the COVID-19 outbreak, available on the WHO website and through your national and local public health authority. Most countries around the world have seen cases of COVID-19 and many are experiencing outbreaks. Authorities in China and some other countries have succeeded in slowing their outbreaks. However, the situation is unpredictable so check regularly for the latest news.</strong></p>
            <p style="text-align:left;"><strong>&nbsp;</strong></p>
         </div>
      </div>
      <div style="text-align:left;font-family: 'Karla', sans-serif;font-size: 1.3em;"class="section-heading">
         <h1>Protecting yourself and others from the spread COVID-19</h1>
      </div>
      <div style="text-align:left;font-family: 'Karla', sans-serif;font-size: 1.3em;" class="sf-content-block content-block">
         <div>
            <p><strong></strong>You can reduce your chances of being infected or spreading COVID-19 by taking some simple precautions:</p>
            <ul>
               <li>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water. Why? Washing your hands with soap and water or using alcohol-based hand rub kills viruses that may be on your hands.</li>
               <li>Maintain at least 1 metre (3 feet) distance between yourself and others. Why? When someone coughs, sneezes, or speaks they  spray small liquid droplets from their nose or mouth which may contain virus. If you are too close, you can breathe in the droplets, including  the COVID-19 virus if the person has the disease.</li>
               <li>Avoid going to crowded places. Why? Where people come together in crowds, you are more likely to come into close contact with someone that has COIVD-19 and it is more difficult to maintain physical distance of 1 metre (3 feet).</li>
               <li>Avoid touching eyes, nose and mouth. Why? Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus to your eyes, nose or mouth. From there, the virus can enter your body and infect you.</li>
               <li>Make sure you, and the people around you, follow good  respiratory hygiene. This means covering your mouth and nose with your bent elbow or tissue when you cough or sneeze. Then dispose of the used tissue immediately and wash your hands. Why? Droplets spread virus. By following good respiratory hygiene, you protect the people around you from viruses such as cold, flu and COVID-19.</li>
               <li>Stay home and self-isolate even with minor symptoms such as cough, headache, mild fever, until you recover. Have someone bring you supplies. If you need to leave your house, wear a mask to avoid infecting others. Why? Avoiding contact with others will protect them from possible COVID-19 and other viruses.</li>
               <li>If you have a fever, cough and difficulty breathing, seek medical attention, but call by telephone in advance if possible and follow the directions of your local health authority. Why? National and local authorities will have the most up to date information on the situation in your area. Calling in advance will allow your health care provider to quickly direct you to the right health facility. This will also protect you and help prevent spread of viruses and other infections.</li>
               <li>Keep up to date on the latest information from trusted sources, such as WHO or your local and national health authorities. Why? Local and national authorities are best placed to advise on what people in your area should be doing to protect themselves.</li>
            </ul>
            <p>&nbsp;</p>
         </div>
      </div>
      <div style="text-align:left;font-family: 'Karla', sans-serif;font-size: 1.3em;" class="section-heading">
         <h3 style="font-size:1.3em;font-weight:bold;">Advice on the safe use of alcohol-based hand sanitizers</h3><br>
      </div>
      <div class="sf-content-block content-block">
         <div style="text-align:left;font-family: 'Karla', sans-serif;font-size: 1.3em;">
            <p>To protect yourself and others against COVID-19, clean your hands frequently and thoroughly.&nbsp;Use alcohol-based hand sanitizer or wash your hands with soap and water. If you use an alcohol-based hand sanitizer,&nbsp;make sure you use&nbsp;and store it&nbsp;carefully.</p>
               <ul>
                  <li>Keep&nbsp;alcohol-based hand sanitizers out of children’s reach. Teach them how to apply the sanitizer and monitor its use.</li>
                  <li>Apply a coin-sized amount&nbsp;on your hands. There is no need to use a large amount of the product.</li>
                  <li>Avoid touching your eyes, mouth and nose immediately after using&nbsp;an alcohol-based hand sanitizer, as it can cause irritation.</li>
                  <li>Hand sanitizers&nbsp;recommended to protect against COVID-19 are alcohol-based and therefore can be&nbsp;flammable.&nbsp;Do not use before handling fire or cooking.</li>
                  <li>Under no circumstance, drink or let children swallow an alcohol-based hand sanitizer. It can be poisonous.&nbsp;</li>
                  <li>Remember that washing your hands with soap and water is also effective against COVID-19.</li>
               </ul>
            </ul>
         </div>
      </div>