{% extends 'base.html' %}
{% block title %} World {% endblock %}
{% block content %}
<div class="container bg-light">
	<div class="row">
		<div class="col-lg-6 col-md-12 col-sm-12">
		<div class="flourish-embed flourish-table" data-src="story/230195"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
		<div class="flourish-embed flourish-chart" data-src="story/230114"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
	</div>
	<div class="col-lg-6 col-md-12 col-sm-12">
		<div class="flourish-embed flourish-chart" data-src="story/230110"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
		<div class="flourish-embed flourish-chart" data-src="story/230110"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
		<div class="flourish-embed flourish-chart" data-src="story/230085"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
	</div>
</div>
{% endblock %}