.redirect{
  font-weight: 1.2em;
  font-size: 1.5em;
  text-decoration: none;
  margin:10px;
}
.loader,
.loader:before,
.loader:after {
  background: black;
  justify-content: center;
  color:black;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: black;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  top:350px;
  font-size: 11px;
  justify-content: center;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  justify-content: center;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  justify-content: center; 
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
.prevention{
  
}
/*Sidenav*/
img:hover{

  transform:scale(1.01,1.01);
}
#floatbtn{
  background-color: orange;
  font-size:25px;
  position:absolute;
  top:-20px;
  left:-10px;
  cursor: pointer;
  display:block;
  padding:12px 13px;
  border-radius:50%;
  width:50px;
  z-index:5;
}
#open{
  font-size:35px;
  color:black;
  text-align: center;
}
html {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}
.myth{
  font-size:23px;
  text-align:left;
  text-decoration:none;
}
.sidenav {
  margin-top:50px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
body{
  background:#dae1e7;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*Sidenav*/
.case_in_india{
    color:black;
    font-size: 1.5em;
    font-weight: bold;
}
.containere{
    width:95%;
    margin-left: auto;
    margin-right:auto;
    padding:20px 50px;
    min-height:80%;
}

.indian {
  overflow: hidden;
}
.indian div {
  float: left;
  display: block;
    justify-content: center;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  margin-right:40px;
} 
@media screen and (max-width: 600px) {
  .indian div{
    float: none;
    width: 100%;
  }
}
.state_info .dropdown select {
    width: 100%;
    margin: 0;
    background: none;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    font-size: 1em;
    color: #444;
    padding: .6em 1.9em .5em .8em;
    line-height: 1.3;
    background-color: #fff;
}
.state_info .dropdown select:focus {
    outline: none;
    background-color: #fff;
    border: none;
}
.state_info .dropdown select, .state_info label {
    font-family: "roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
}
.state_info .dropdown::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 12px;
    top: 50%;
    right: 10px;
    margin-top: -4px;
    z-index: 2;
    background: url("https://drop.ndtv.com/ndtv/special/corona/images/triangle_corona.svg") 0 0 no-repeat;
    background-size: 100%;
    pointer-events: none;
}
.extra-link-list {
    margin: 0;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}
.extra-link-list li {
    list-style: none;
    padding: 5px 10px 5px 30px;
    position: relative;
     font-size: 17px;
    line-height: 19px;
}
.extra-link-list li:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    display: inline-block;
    background: #c4cad0;
    border-radius: 20px;
    left: 12px;
    top: 12px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .state_info .dropdown select::-ms-expand {
        display: none;
    }
    .state_info select:focus::-ms-value {
        background: transparent;
        color: #222;
    }
}
.state_info .dropdown:hover {
    border: 1px solid #888;
}
.state_info select:focus {
    outline: none;
    box-shadow: 0 0 1px 3px rgba(180, 222, 250, 1);
    background-color: transparent;
    color: #222;
    border: 1px solid #aaa;
}
.state_info select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.state_info option {
    font-weight: normal;
}
.state_info .button {
    border: 1px solid #bbb;
    border-radius: .3em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    background: #f3f3f3;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}
.state_info .output {
    margin: 0 auto;
    padding: 0;
    background: #fff;
    box-sizing: border-box;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 350px;
}
.state_info .colors {
    padding: 2em;
    color: #fff;
    display: none;
}
.state_info .red {
    background: #c04;
}
.state_info .yellow {
    color: #000;
    background: #f5e000;
}
.state_info .blue {
    background: #079;
}
.state_info .cor_dt {
    display: none;
} 
.state_info .ul_ttl {
    margin: 10px 0 0 0;
    border: 1px solid #ddd;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    background-color: #f5f5f5;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}
.state_info .acor_content ul {
    margin: 0;
    padding: 10px 0;
    border: solid 1px #ddd;
    border-radius: 0 0 4px 4px;
}
.state_info .acor_content ul li {
    list-style: none;
    padding: 5px 10px 5px 30px;
    position: relative;
    font-size: 17px;
    line-height: 20px;
}
.state_info .acor_content ul li:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    display: inline-block;
    background: #c4cad0;
    border-radius: 20px;
    left: 12px;
    top: 12px;
}
.nav{
	font-size:1.4em;
}
nav{
	background-color:#f62459;
}
