{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="font-family: 'Karla', sans-serif;">
		<p style="font-size:1.3em;color:blue">
			Note: By clicking on any of these "DONATE NOW" links you will be redirected to the respective donation page.
		</p>
	<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          PM CARES FUND DONATION PAGE
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      	<a style="font-size:1.4em;font-weight:bold;" href="https://www.pmcares.gov.in/en/">DONATE NOW</a><br>
        <p style="font-size: 1.2em;">The fund will be used for combating, containment and relief efforts against the coronavirus outbreak and similar pandemic like situations in the future.A total of ₹3,100 crore is already allocated from this fund from which approximately ₹2,000 crore was allocated for the purchase of 50,000 ventilators, ₹1,000 crore for the support of migrant workers and ₹100 crore was to support the funding of a vaccine for COVID-19. </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          WHO COVID-19 DONATION PAGE
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
      	<a style="font-size:1.4em;font-weight:bold;" href="https://covid19responsefund.org/en/">DONATE NOW</a><br>
        <p style="font-size: 1.2em;"> Donations support WHO’s work, including with partners, to track and understand the spread of the virus; to ensure patients get the care they need and frontline workers get essential supplies and information; and to accelerate research and development of a vaccine and treatments for all who need them.
		        Some donations also support Fund partners UNICEF, for its work on COVID-19 among vulnerable communities including children, and the vaccine development alliance CEPI.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          AKSHAY PATRA DONATION PAGE 
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
      	<a style="font-size:1.4em;font-weight:bold;" href="https://www.akshayapatra.org/covid-relief-services">DONATE NOW </a><br>
        <p style="font-size: 1.2em;">By adhering to all safety and hygiene measures, Akshaya Patra has begun its relief service by providing meal or packed grocery kits to the marginalised and low-income segment of the society comprising of daily wage workers, migrant labourers, construction site workers, and needy people at old age homes and night shelters. Presently, the Foundation is providing food relief in Rajasthan, Karnataka, Telangana, Gujarat, Maharashtra, NCR, Uttar Pradesh, Andhra Pradesh, Tamil Nadu, Chhattisgarh, Odisha, Assam, Madhya Pradesh, Uttarakhand ,Tripura ,West Bengal and Punjab.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingfour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
          HELP AGE INDIA 
        </button>
      </h2>
    </div>
    <div id="collapsefour" class="collapse hide" aria-labelledby="headingfour" data-parent="#accordionExample">
      <div class="card-body">
      	<a style="font-size:1.4em;font-weight:bold;" href="https://www.helpageindia.org/covid-19/">DONATE NOW </a><br>
        <p style="font-size: 1.2em;">HelpAge India is reaching out to the elders, homeless and migrant workers who are facing their toughest time right now. HelpAge is connected with a wide network of Senior Citizens Associations in cities, our teams have been calling and reaching out to elders and giving them vital information about the Pandemic, Health Advisories of the Do’s & Don’ts, shared emergency numbers, and details of hospitals with Isolation wards etc.
        THey are Providing Free Meals for Survival,Family Survival Kits,Protective Hygiene Kits,Free Medicines and Healthcare
        to elder people, migrant workers and homeless people.</p>
      </div>
    </div>
  </div>
</div>
	<h3> How will your donations will be used?</h3>
	<ul style="font-size:24px;">
		<li>	Putting in place activities to Track and understand the spread of the virus.</li>
		<li>	Ensuring patients get the care they need.</li>
		<li>	Buying and ship essential supplies such as masks, gloves and protective wear for frontline workers. </li>
		<li>	Producing evidence based guidelines and advice, and make sure health workers and responders get
          the information and training to detect and treat affected patients.</li>
		<li>  Producing guidance for the general public and for particular groups on measures to take to 
          prevent the spread and prevent themselves and others.</li>
		<li>	Accelerating efforts to develop vaccines, tests and treatments.</li>
	</ul>
</div>
</div>
{% endblock %}
