{% extends 'base.html' %}
{% block title %} India {% endblock %}
{% block content %}
<div class="container-fluid p-lg-4 bg-light " >

<div class="indian">
<div style="margin-left: auto;">
	<div class="case_in_india" style="margin-left: 0px;"> Confirmed <p style="color:blue;font-size: 1.5em;">{{indian_confirmed}}</p></div>
	<div class="case_in_india"> Active <p style="color:orange;font-size: 1.5em;">{{indian_active}}</p> </div>
	<div class="case_in_india"> Recovered <p style="color:green;font-size: 1.5em;">{{indian_recovered}}</p></div>
	<div class="case_in_india" style="margin-right: 0px;" > Deaths <p style="color:red;font-size: 1.5em;">{{indian_deaths}}</p></div>
	<div class="case_in_india" style="margin-right: 0px;" >
		<a style="font-size: 1.5em;float:right;text-decoration: none;"href="whatsapp://send?text=There are total {{indian_confirmed}} cases in India in which {{indian_recovered}} people have recovered and {{indian_deaths}} have died. I request you to stay at home and follow government guidelines." data-action="share/whatsapp/share" onClick="javascript:window.open(this.href, '','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on whatsapp"><i style="color:green;"class="fab fa-whatsapp"></i> Share </a>
	</div>
</div>
</div>
	<div style="font-family: 'Karla', sans-serif;text-decoration:none;"id="detailed" class="col-lg-12 col-md-12 col-sm-12">
    	<div class="accordion bg-dark" id="accordionExample">
        	<div class="card">
          		<div class="card-header" id="headingOne">
              		<h2 class="mb-0">
                		<button class="btn btn-link myth" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Note:</button>
              		</h2>
          		</div>
          		<div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
              		<div style="font-size:1.3em;"class="card-body">
                		Note:-The data in table and map may not match with each other because these datas are taken from two different websites. The difference in value of data is due to different update time by developers of these websites. Although I recommend you to go with data in table,it will always be more accurate.
              		</div>
          		</div>
        	</div>
      	</div>
 	</div>	
<br><br>
 	<div class="row">
		<div class="col-md-12 sol-sm-12 col-lg-6">
		 	<table class="table table-hover table-responsive-sm bg-light table-striped">
				<tr>
					<th scope="col">State</th>
					<th scope="col"> Confirmed</th>
					<th scope="col"> Active</th>
					<th scope="col">Recoverd</th>
					<th scope="col">Death </th>
				</tr>

				{% for state in states %}
				<tr>
					{% for data in state %}
						<td> {{data}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12">
			<div class="flourish-embed flourish-map" style="width:100%;border:0px;" data-src="visualisation/2019140" 
		 	data-url="https://flo.uri.sh/visualisation/2019140/embed"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
			 <blockquote class="twitter-tweet"><p lang="en" dir="ltr">While measuring the impact of coronavirus pandemic it has been seen that there are 7.3 
			 <a href="https://twitter.com/hashtag/COVID19?src=hash&amp;ref_src=twsrc%5Etfw">#COVID19</a> cases per Lakh population in India which is 
			 comparatively much less than other countries. It is because of bold decision taken by PM 
			 <a href="https://twitter.com/narendramodi?ref_src=twsrc%5Etfw">@narendramodi</a> for immediate lockdown. 
			 <a href="https://t.co/aNSgMHIXom">pic.twitter.com/aNSgMHIXom</a></p>&mdash; Ravi Shankar Prasad (@rsprasad) 
			 <a href="https://twitter.com/rsprasad/status/1264905497842343936?ref_src=twsrc%5Etfw">
			 May 25, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
			 </script> 
			
	</div>
</div>
{% endblock %}