<h3>Names of Hospitals and Laboratories </h3>
<div class="state_info">
  <div class="button dropdown">
    <select id="colorselector">
      <option value="Delhi-NCT">Delhi-NCR</option>
      <option value="Andhra">Andhra Pradesh</option>
      <option value="Andaman_Nicoba">Andaman &amp; Nicobar</option>
      <option value="Assam">Assam</option>
      <option value="Bihar">Bihar</option>
      <option value="Chandigarh">Chandigarh</option>
      <option value="Gujarat">Gujarat</option>
      <option value="Haryana">Haryana</option>
      <option value="Himachal">Himachal Pradesh</option>
      <option value="Jammu_Kashmir">Jammu and Kashmir</option>
      <option value="Jharkhand">Jharkhand</option>
      <option value="Karnataka">Karnataka</option>
      <option value="Kerala">Kerala</option>
      <option value="Ladakh">Ladakh</option>
      <option value="Madhya_Pradesh">Madhya Pradesh</option>
      <option value="Meghalaya">Meghalaya</option>
      <option value="Maharashtra">Maharashtra</option>
      <option value="Manipur">Manipur</option>
      <option value="Odisha">Odisha</option>
      <option value="Puducherry">Puducherry</option>
      <option value="Punjab">Punjab</option>
      <option value="Rajasthan">Rajasthan</option>
      <option value="Tamil_Nadu">Tamil Nadu</option>
      <option value="Tripura">Tripura</option>
      <option value="Telangana">Telangana</option>
      <option value="Uttar_Pradesh">Uttar Pradesh</option>
      <option value="Uttar_Pradesh">Uttarakhand</option>
      <option value="West_Bengal">West Bengal</option>
    </select>
  </div>
  <div class="output">
    <div id="Delhi-NCT" class="cor_dt adp"> 
    <!-- style="display: block;"> -->
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>All India Institute Medical Sciences, Delhi</li>
          <li>National Centre for Disease Control, Delhi</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Lady Hardinge Medical College, New Delhi</li>
        </ul>
      </div>
    </div>
    <div id="Andhra" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Sri Venkateswara Institute of Medical Sciences, Tirupati</li>
          <li>Andhra Medical College, Visakhapatnam, Andhra Pradesh</li>
          <li>GMC, Anantapur, AP</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Siddhartha Medical College, Vijayawada</li>
          <li>Rajeev Gandhi Institute of Medical Sciences, Kadapa</li>
          <li>Rangaraya Medical College, Kakinada</li>
          <li>Guntur Medical College, Guntur</li>
        </ul>
      </div>
    </div>
    <div id="Andaman_Nicoba" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Regional Medical Research Centre, Port Blair, Andaman and Nicobar</li>
        </ul>
      </div>
    </div>
    <div id="Assam" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Gauhati Medical College, Guwahati</li>
          <li>Regional Medical Research Center, Dibrugarh</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Silchar Medical College, Silchar</li>
          <li>Jorhat Medical College, Jorhat</li>
          <li>Tezpur Medical College, Tezpur</li>
          <li>Fakhruddin Medical College, Barpeta</li>
        </ul>
      </div>
    </div>
    <div id="Bihar" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Rajendra Memorial Research Institute of Medical Sciences, Patna</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Patna Medical College, Patna</li>
          <li>Darbhanga Medical College, Darbhanga</li>
          <li>S K Medical College, Muzaffarpur</li>
        </ul>
      </div>
    </div>
    <div id="Chandigarh" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Post Graduate Institute of Medical Education &amp; Research, Chandigarh</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Government Medical College &amp; Hospital, Chandigarh</li>
        </ul>
      </div>
    </div>
    <div id="Chhattisgarh" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>All India Institute Medical Sciences, Raipur</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Late Sri BaliramKashyap Memorial Govt. Medical College, Jagdalpur
          </li>
        </ul>
      </div>
    </div>
    <div id="Gujarat" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>BJ Medical College, Ahmedabad</li>
          <li>M.P.Shah Government Medical College, Jamnagar</li>
          <li>Pt. B.D. Sharma Post Graduate Inst. of Med. Sciences, Rohtak, Haryana</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Government Medical College, Surat</li>
          <li>GMC, Bhavnagar</li>
          <li>PDU GMC, Rajkot</li>
          <li>Government Medical College &amp; SSG Hospital, Vadodara</li>
        </ul>
      </div>
    </div>
    <div id="Haryana" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>BPS Govt Medical College, Sonipat</li>
        </ul>
      </div>
    </div>
    <div id="Himachal" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Indira Gandhi Medical College, Shimla, Himachal Pradesh</li>
          <li>Dr.Rajendra Prasad Govt. Med. College, Kangra, Tanda, HP</li>
        </ul>
      </div>
    </div>
    <div id="Jammu_Kashmir" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Sher-e- Kashmir Institute of Medical Sciences, Srinagar</li>
          <li>Government Medical College, Jammu</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Government Medical College, Srinagar</li>
        </ul>
      </div>
    </div>
    <div id="Jharkhand" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>MGM Medical College, Jamshedpur</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Rajendra Institute of Medical Sciences, Ranchi</li>
        </ul>
      </div>
    </div>
    <div id="Karnataka" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Bangalore Medical College &amp; Research Institute, Bangalore</li>
          <li>National Institute of Virology Field Unit Bangalore</li>
          <li>Mysore Medical College &amp; Research Institute, Mysore</li>
          <li>Hassan Inst. of Med. Sciences, Hassan, Karnataka</li>
          <li>Shimoga Inst. of Med. Sciences, Shivamogga, Karnataka</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Vijayanagar Institute of Medical Science, Bellary</li>
          <li>Gulbarga Institute Of Medical Sciences, Gulbarga</li>
        </ul>
      </div>
    </div>
    <div id="Kerala" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>National Institute of Virology Field Unit, Kerala</li>
          <li>Govt. Medical College, Thriuvananthapuram, Kerala</li>
          <li>Govt. Medical College, Kozhikhode, Kerala</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Government Medical College, Thrissur</li>
        </ul>
      </div>
    </div>
    <div id="Ladakh" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Sonam Namgyal Memorial Hospital, Leh</li>
        </ul>
      </div>
    </div>
    <div id="Madhya_Pradesh" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>All India Institute Medical Sciences, Bhopal</li>
          <li>National Institute of Research in Tribal Health (NIRTH), Jabalpur</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Bundelkhand Medical College, Sagar</li>
          <li>MGM Medical College, Indore</li>
          <li>Gajra Raja Medical College, Gwalior</li>
          <li>S.S Medical College, Rewa</li>
        </ul>
      </div>
    </div>
    <div id="Meghalaya" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>NEIGRI of Health and Medical Sciences, Shillong, Meghalaya</li>
        </ul>
      </div>
    </div>
    <div id="Maharashtra" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Indira Gandhi Government Medical College, Nagpur</li>
          <li>Kasturba Hospital for Infectious Diseases, Mumbai</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Government Medical College, Miraj, Sangli</li>
          <li>Seth GS Medical College &amp; KEM Hospital , Mumbai</li>
          <li>Government Medical college, Nagpur</li>
          <li>Government Medical College, Aurangabad</li>
          <li>V. M. Government Medical College, Solapur</li>
          <li>Shri Bhausaheb Hire Government Medical College, Dhule</li>
          <li>Government Medical College and Hospital &amp; Superspeciality Hospital, Akola</li>
        </ul>
      </div>
    </div>
    <div id="Manipur" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>J N Inst. of Med. Sciences Hospital, Imphal-East, Manipur</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Regional Institute of Medical Sciences, Imphal</li>
        </ul>
      </div>
    </div>
    <div id="Odisha" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Regional Medical Research Center, Bhubaneswar</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>SCB Medical College, Cuttack</li>
        </ul>
      </div>
    </div>
    <div id="Puducherry" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Jawaharlal Institute of Postgraduate Medical Education &amp; Research, Puducherry</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Indira Gandhi Medical College &amp; Research Institute, Puducherry</li>
        </ul>
      </div>
    </div>
    <div id="Punjab" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Government Medical College, Patiala, Punjab</li>
          <li>Government Medical College, Amritsar</li>
        </ul>
      </div>
    </div>
    <div id="Rajasthan" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Sawai Man Singh, Jaipur</li>
          <li>Dr. S.N Medical College, Jodhpur</li>
          <li>Jhalawar Medical College, Jhalawar, Rajasthan</li>
          <li>SP Med. College, Bikaner, Rajasthan</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>RNT Medical College, Udaipur</li>
          <li>AIIMS, Jodhpur</li>
        </ul>
      </div>
    </div>
    <div id="Tamil_Nadu" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>King's Institute of Preventive Medicine &amp; Research, Chennai</li>
          <li>Government Medical College, Theni</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Madurai Medical College, Madurai</li>
          <li>Government Mohan Kumaramangalam Medical College, Salem</li>
          <li>Government Medical College, Thiruvarur</li>
          <li>Government Medical College, Villupuram</li>
          <li>Tirunelveli Medical College, Tirunelveli</li>
          <li>Coimbatore Medical College, Coimbatore</li>
          <li>Madras Medical College, Chennai, Tamil Nadu</li>
        </ul>
      </div>
    </div>
    <div id="Tripura" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Government Medical College, Agartala</li>
        </ul>
      </div>
    </div>
    <div id="Telangana" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Gandhi Medical College, Secunderabad</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Osmania Medical College, Hyderabad</li>
          <li>Kakatiya Medical College, Nizampura, Warangal</li>
        </ul>
      </div>
    </div>
    <div id="Uttar_Pradesh" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>King's George Medical University, Lucknow</li>
          <li>Institute of Medical Sciences, Banaras Hindu University, Varanasi</li>
          <li>Jawaharlal Nehru Medical College, Aligarh</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>UPUMS,(Formerly UPRIMS) Saifai</li>
        </ul>
      </div>
    </div>
    <div id="Uttarakhand" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>Government Medical College, Haldwani</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>AIIMS, Rishikesh</li>
          <li>Doon Government Medical College, Dehradun</li>
        </ul>
      </div>
    </div>
    <div id="West_Bengal" class="cor_dt">
      <div class="acor_content">
        <p class="ul_ttl">Hospitals</p>
        <ul>
          <li>National Institute of Cholera and Enteric Diseases, Kolkata</li>
          <li>IPGMER, Kolkata</li>
        </ul>
        <p class="ul_ttl">Laboratories</p>
        <ul>
          <li>Murshidabad Medical College &amp; Hospital, Murshidabad, Berhampur, West Bengal</li>
          <li>Midnapore Medical College &amp; Hospital, Midnapore</li>
          <li>North Bengal Medical College, Darjeeling</li>
          <li>Malda Medical College, Malda</li>
          <li>RG Kar Medical College, Kolkata</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
    $(function () {
          $('.adp').show();
            $('#colorselector').change(function () {
              $('.cor_dt').hide();
                  $('#' + $(this).val()).show();
                  });
        });
            </script>