{% extends 'base.html' %}
{% block title %} World {% endblock %}
{% block content %}
	<div class="containere bg-light">

	<div class="indian"style="margin-left: auto;">
		<div class="case_in_india" style="margin-left: 0px;"> Confirmed
			 <p style="color:blue;font-size: 1.5em;">{{latest.confirmed}}</p>
		</div>
		<div class="case_in_india"> Recovered 
			<p style="color:green;font-size: 1.5em;">{{latest.recovered}}</p>
		</div>
		<div class="case_in_india" style="margin-right: 0px;" > Deaths 
			<p style="color:red;font-size: 1.5em;">{{latest.deaths}}</p>
		</div>
		<div class="case_in_india" style="margin-right: 0px;" >
			<a style="font-size: 1.5em;float:right;text-decoration: none;"href="whatsapp://send?text=There are total {{latest.confirmed}} cases in World in which {{latest.recovered}} people have recovered and {{latest.deaths}} have died. I request you to stay at home and follow government guidelines." data-action="share/whatsapp/share" onClick="javascript:window.open(this.href, '','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on whatsapp"><i style="color:green;"class="fab fa-whatsapp"></i> Share </a>
		</div>
	</div>
	<div id="detailed" class="col-lg-12 col-md-12 col-sm-12">
    	<div class="accordion bg-dark" id="accordionExample">
        	<div class="card">
          		<div class="card-header" id="headingtwo">
              		<h2 class="mb-0">
                		<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapseOne">Note:</button>
              		</h2>
          		</div>
          		<div id="collapsetwo" class="collapse hide" aria-labelledby="headingtwo" data-parent="#accordionExample">
              		<div style="font-size:1.3em;"class="card-body">
                		Note:-The data in these tables may not match with each other because these datas are taken from two different websites. The difference in value of data is due to different update time by developers of these websites.
              		</div>
          		</div>
        	</div>
      	</div>
 	</div><br>
	<div class="row">
		<div class="col-lg-6 col-md-12 col-sm-12">
		<div class="flourish-embed flourish-table" data-src="story/230195"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
		<a href="#detailed" style="font-size:2em;">For more detailed view Click here</a>
		<div class="flourish-embed flourish-chart" data-src="story/230114"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
		<div class="flourish-embed flourish-chart" data-src="story/230085"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
		<div class="flourish-embed flourish-chart" data-src="story/230110"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
		<div class="flourish-embed flourish-chart" data-src="story/230110"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

	</div>

	<div id="detailed" class="col-lg-6 col-md-12 col-sm-12">
		<h2>Cases per country View</h2>
		<div class="accordion" id="accordionExample">
  			<div class="card">
    			<div class="card-header" id="headingOne">
      				<h2 class="mb-0">
        				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          				Important Note About Data
        				</button>
      				</h2>
    			</div>

    			<div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
      				<div class="card-body">
        				Note: Australia, Canada, China, Denmark,Fance,Netherlands and  United Kingdom, have more than one province, the data is provided according to their province.
      				</div>
    			</div>
  			</div>
  		</div>

  		<br>
	<table class="table text-center table-responsive-sm table-responsive-md table-hover bg-light table-striped">
		<tr>
			<th scope="col">Country</th>
			<th scope="col">Province</th>
			<th scope="col">Confirmed</th>
			<th scope="col">Death </th>
		</tr>
		{% for i in world %}
			<tr>
				<td>
					{{ i.country }}
				</td>
				<td>
					{%if i.province == "" %}
					{% else %}
						{{i.province}}
					{% endif %}
				</td>
				<td>{{ i.latest.confirmed }}</td>
				<td>{{i.latest.deaths}}</td>
			</tr>
		{% endfor %}
	</table>
	</div>
	</div>
</div>
{% endblock %}