<div class="row">

	<div class="col-md-6 mb-4 col-sm-12">
		<div class="embed-responsive embed-responsive-21by9">
			<iframe width="956" height="538" src="https://www.youtube.com/embed/EsqdBz-_noQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>

	<div class="col-md-6 mb-4 col-sm-12">
		<div class="embed-responsive embed-responsive-21by9">
			<iframe width="956" height="538" src="https://www.youtube.com/embed/lJ9EbZjcVGY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>

	<div class="col-md-6 mb-4 col-sm-12">
		<div class="embed-responsive embed-responsive-21by9">
			<iframe width="956" height="538" src="https://www.youtube.com/embed/VGki7hc1CZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	</div>

	<div class="col-md-6 mb-4 col-sm-12">
		<div class="embed-responsive embed-responsive-21by9">
			<iframe width="424" height="238" src="https://www.youtube.com/embed/yEIPefMsf70" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-6 mb-4 col-sm-12">
		<div class="embed-responsive embed-responsive-21by9">
			<iframe width="956" height="538" src="https://www.youtube.com/embed/zDx1LKkk5c4?list=PL9S6xGsoqIBU2V6AZYGlJwZRAFJ3YDreb" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-6 mb-4 col-sm-12">
		<div class="embed-responsive embed-responsive-21by9">
			<iframe width="956" height="538" src="https://www.youtube.com/embed/y7e8nM0JAz0?list=PL9S6xGsoqIBU2V6AZYGlJwZRAFJ3YDreb" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-6 mb-4 col-sm-12">
		<div class="embed-responsive embed-responsive-21by9">
			<iframe width="956" height="538" src="https://www.youtube.com/embed/BIf1ZTBcnGs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-6 mb-4 col-sm-12">
		<div class="embed-responsive embed-responsive-21by9">
			<iframe width="956" height="538" src="https://www.youtube.com/embed/YzYdhnHalXQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-6 mb-4 col-sm-12">
		<div class="embed-responsive embed-responsive-21by9">
			<iframe width="956" height="538" src="https://www.youtube.com/embed/5DGwOJXSxqg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-6 mb-4 col-sm-12">
		<div class="embed-responsive embed-responsive-21by9">
			<iframe width="956" height="538" src="https://www.youtube.com/embed/7mFPcJk2lEM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</div>